:root {
  --radial-bg: radial-gradient(#253f64, rgb(2, 10, 23));
  --btn-bg: rgba(4, 18, 41, 0.75);
  --text-shd: var(--text-shd);
}

* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/* -------------------------------------------------- */
.homepage {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--radial-bg);
}
.home-bgImg {
  max-width: 450px;
  height: auto;
}

.btn {
  position: absolute;
  height: 35px;
  width: 100px;
  min-width: 100px;
  font-weight: 600;
  font-size: 14px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  background: var(--btn-bg);
  box-shadow: 0 4px 15px rgb(0, 14, 36);
}
.btn:hover {
  color: gold;
  border: 1px solid gold;
  cursor: pointer;
}
.play-btn {
  bottom: 35px;
}
.play-btn:hover {
  bottom: 33px;
}

/* -------------------------------------------------- */
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--radial-bg);
}
.signIn-Up-Box {
  position: absolute;
  width: 480px;
  max-width: 90vw;
  height: 330px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(4, 18, 41, 0.85);
  border-radius: 16px;
}
.signIn-Up-Box > div {
  width: 480px;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signIn-Up-Box > div > * {
  width: 90%;
  height: 100%;
}
.glassEffect {
  box-shadow: 0 4px 30px rgba(1, 8, 19, 0.52);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(1, 8, 19, 0.3);
}

.Headings {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-shadow: var(--text-shd);
  color: white;
}

.signIn-Up-btn {
  position: relative;
  bottom: unset;
}
.signIn-Up-btn:hover {
  top: 2px;
}
.signUp-link {
  color: lightgray;
  font-size: 14px;
  text-align: center;
  padding: 10px 0 0 0;
  text-shadow: var(--text-shd);
}
.signUp-link > span {
  color: orange;
}
.signUp-link > span:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* -------------------------------------- */

.gamestart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gamestart-container > .link {
  user-select: none;
  width: 100%;
  height: 100px;
  text-align: center;
  word-break: break-all;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 7px;
  border: 1px solid white;
  color: lightgray;
  background: var(--btn-bg);
  text-shadow: var(--text-shd);
}

.gamestart-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.sharelink-btn {
  position: relative;
}
.sharelink-btn:hover {
  top: 2px;
}

.Join-btn {
  position: relative;
}
.Join-btn:hover {
  top: 2px;
}

.startgame-btn {
  position: relative;
}
.startgame-btn:hover {
  top: 2px;
}

/* -------------------------------------------------- */
.Game {
  min-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

/* navbar---------------------------------------------- */

.navbar {
  width: 100%;
  height: 60px;
  padding: 5px 25%;
  background-color: rgb(4, 18, 41);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #d8d9db;
}

.navbar > .navbar-btns {
  width: 220;
  height: auto;
  display: flex;
  gap: 20px;
}
.nav-btn {
  position: relative;
}
.nav-btn:hover {
  top: 2px;
  left: 2px;
}

/* ----------------------------------- */

.winner-announcement {
  position: absolute;
  top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: maroon;
  z-index: 5;
}
/* Gamepad---------------------------------------------- */

.Gamepad {
  position: relative;
  width: 100%;
  max-height: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.gamepage-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: calc(100vh - 60px);
}

.gamepage-body > .gameboard {
  display: flex;
  width: 270px;
  height: 270px;
}

.board {
  width: 270px;
  height: 270px;
  border: none;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 90px;
  height: 90px;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
}

/* inner shadow ------------------------------- */
.square:nth-child(2),
.square:nth-child(3) {
  background: linear-gradient(
    55deg,
    rgba(128, 128, 128, 0.32) 15%,
    transparent 45%
  );
}

.square:nth-child(4),
.square:nth-child(7) {
  background: linear-gradient(
    215deg,
    rgba(128, 128, 128, 0.32) 15%,
    transparent 45%
  );
}

.square:nth-child(5),
.square:nth-child(6),
.square:nth-child(8),
.square:nth-child(9) {
  background: linear-gradient(
    135deg,
    rgba(128, 128, 128, 0.32) 15%,
    transparent 45%
  );
}
.horizontal-border {
  position: absolute;
  width: inherit;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 0;
  background-color: transparent;
}
.horizontal-border > div {
  width: 100%;
  height: 3px;
  border: none;
  background-color: #253f64;
  z-index: 0;
}
.verticle-border {
  position: absolute;
  width: inherit;
  height: 270px;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
  background-color: transparent;
}
.verticle-border > div {
  height: 100%;
  width: 3px;
  border: none;
  background-color: #253f64;
  z-index: 1;
}

/* ------------------- */
@media screen and (max-width: 550px) {
  .navbar {
    padding: 5px 5%;
  }
  .navbar > h2 {
    font-size: 21px;
  }
  .navbar > .navbar-btns {
    gap: 15px;
  }
  .btn {
    width: 80px;
  }
}
